################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithm_Solver/.vs/Algorithm_Solver/v15/.suo
