div.custom-form-container {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ccc !important;
    border-width: 1px !important;
    border: solid;
    border-radius: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box
}

.custom-form{

    margin-top: 10%;
    margin-bottom: 10%;

}
